#donate-container{
    background-color: black;
}
.donate-header{
    background-image: url("images/turtle.jpg");
    width: 100%;
    height: auto;
    }

.donate-header > h1{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.donate-header > h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.donate-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin: 10px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.square{
    width: 400px;
    height: 75px;
    border: 8px solid gray;
    color: white;
    font-size: 25px;
}

.nemo-images > img{
    height: 500px;
    width: auto;
}